.light img.h-full[alt="LibreChat Logo"] {
  content: url('/assets/custom/GE-MZ-powered by viscan-dark_violet.svg');
}

img.h-full[alt="LibreChat Logo"] {
  content: url('/assets/custom/GE-MZ-powered by viscan-white.svg');
}

#messages-view {
  background-image: url('/assets/custom/geoequipt_Background_DarkMode_2560x1960.png');
  background-size: 100% auto;
  background-color: #212121;
}
.light #messages-view {
  background-image: url('/assets/custom/geoequipt_Background_LightMode_2560x1960.png');
  background-color: #E0E4EE;
}

#messages-view .overflow-x-auto{
  background-color: #12006e;
  background-image: url('/assets/custom/GE-MZ-white_1024.png');
  background-size: auto 70%;
  background-repeat: no-repeat;
  background-position: center;
  color: rgba(255, 255, 255, 0.7);
}

#messages-view .overflow-x-auto svg,
#messages-view .overflow-x-auto .text-left,
#messages-view .overflow-x-auto .text-text-primary{
  color: rgba(255, 255, 255, 0.7) !important;
}

#messages-view .hide-scrollbar.flex.w-full.items-center.justify-between.gap-2.overflow-x-auto button {
  background: transparent;
}
#messages-view .hide-scrollbar.flex.w-full.items-center.justify-between.gap-2.overflow-x-auto  div {
  background: transparent;
}
#messages-view .hide-scrollbar.flex.w-full.items-center.justify-between.gap-2.overflow-x-auto svg {
  color: #000;
}
#messages-view .hide-scrollbar.flex.w-full.items-center.justify-between.gap-2.overflow-x-auto span {
  color: #000;
}

#chat-history-nav .flex.flex-1.flex-col.overflow-hidden>.flex.items-center.justify-between {
  background-color: #fff600;
}
#chat-history-nav .flex.flex-1.flex-col.overflow-hidden>.flex.items-center.justify-between button svg {
  color: #000
}
#chat-history-nav .flex.flex-1.flex-col.overflow-hidden>.flex.items-center.justify-between a svg {
  color: #000
}
#root>div.relative::after {
  content: "Image powered by bim-laeb.de";
  position: absolute;
  bottom: 10px;
  right: 10px;
  font-size: 0.8em;
  color: rgba(255, 255, 255, 0.7);
}
#root>div.relative {
  background-image: url('/assets/custom/geoequipt_Background_DarkMode_2560x1960.png');
  background-size: 100% auto;
  background-color: #212121;
}
.light #root>div.relative {
  background-image: url('/assets/custom/geoequipt_Background_LightMode_2560x1960.png');
  background-color: #E0E4EE;
}

.light img.h-5.w-5[alt="OpenID Logo"] {
    content: url('/assets/custom/GE-MZ-powered by viscan-dark_violet.svg')
}

.user-turn {
  background-color: rgba(87, 87, 90, 0.8);
  border-radius: 0.5em;
  padding: 0.5em;
}
.light .user-turn {
  background-color: rgba(248, 246, 246, 0.8);
}

.agent-turn {
  background-color: rgba(87, 87, 90, 0.8);
  border-radius: 0.5em;
  padding: 0.5em;
}
.light .agent-turn {
  background-color: rgba(248, 246, 246, 0.8);
}